 welcome to menu page

<header class="navbar  navbar-inverse">
<div class="navbar-class">
<div class="container">


<!-- Collect the nav links, forms, and other content for toggling -->

  <ul class="nav navbar-nav">
  <li class="active"><a href="#">HOME</a></li>
  <li><%=link_to "ABOUT", sessions_path%></li>
  <li><%=link_to "OUR SERVICES", sessions_path %></li>
 <li><%=link_to "ITEMS", menu_items_path %></li>
 <li><%=link_to "CART", cart_path(@current_cart) %></li>

 <!--
  <li><%=link_to "RATES", sessions_path %></li>
  <li><%=link_to'CAREERS', sessions_path%></li>
  <li><a href="#">TRAINING</a></li>
  <li><%= link_to"GALLERY", sessions_path %></li>
  <li><%=link_to"MEDIA", sessions_path%></li>
  <li><%=link_to"FAQS", sessions_path %></li>
  <li><a href="#">CONTACT</a></li>
  -->
