
<div>
<h1 align="center"> ALL Orders  <h1>
</div>
<div>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">Date</th>
    <th scope="col">UserId</th>
    <th scope="col">Total_price</th>
    <th scope="col">Delivered_at</th>
    <th colspan="1"></th>
  </tr>
</thead>
<tbody>
<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.date %></td>
    <td><%= order.user_id %></td>
    <td><%= order.total_price %></td>
    <td><%= order.delivered_at %></td>
    <td><%= button_to "edit_status", pending_orders_path(:id => order.id), method: :delete %></td>

  </tr>
<% end %>
</tbody>
</table>
</div>
<%= link_to "Back", admin_dashboard_path,class:"btn btn-primary btn-lg" %>
