

</div>
<h3 align="center"><b> ALL USERS  </b><h3>
</div>
<div>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">name</th>
    <th scope="col">email</th>
    <th colspan="1">
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= button_to " - ", user_path(:id => user.id), method: :delete %></td>

  </tr>
<% end %>
</tbody>
</table>
</div>

<%= link_to "Back", admin_dashboard_path,class:"btn btn-primary btn-lg" %>
