
<div class="container">
<p class="NewUsers-title">Update menu item</p>

<section class="UsersNew">
<%= form_with url: menu_item_path(:id=>"#{@menu_item.id}"), method: :put do |form|%>
<div class="Form-section">
<p class="FormInput-label">menu_category </p>
<%= form.text_field :menu_category_id, class:"Form-input" %>
</div>


<div class="Form-section">
<p class="FormInput-label">name: </p>
<%= form.text_field :name, class:"Form-input" %>
</div>
<div class="Form-section">
<p class="FormInput-label">description </p>
<%= form.text_field :description, class:"Form-input" %>
</div>

<div class="Form-section">
<p class="FormInput-label">price: </p>
<%= form.text_field :price, class:"Form-input" %>
</div>


<div class="Form-section">
<p class="FormInput-label">image </p>
<%= form.text_field :menu_item_image, class:"Form-input" %>
</div>

<div class="Form-section">
<%= form.submit "Add Item", class:"btn btn-primary btn-lg" %>
<%= link_to "Back", admin_dashboard_path,class:"btn btn-primary btn-lg"%>

</div>

<% end %>

</section>
</div>
