
<nav class="navbar navbar-pf-vertical">

 <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </nav>
<nav class="navbar navbar-light bg-dark">
<div class="col s9 full-height scroll-bar">
<h4><%=link_to "CATEGORIES",menu_categories_path ,class:"navbar-brand"%></h4>
<%=link_to " CART", cart_path(@current_cart) ,class:"navbar-brand"%>
<%=link_to " LOGOUT", destroy_session_path, method: :delete ,class:"navbar-brand"%>
<%=link_to " UPDATE PROFILE", edit_user_path(id: @current_user.id),class:"navbar-brand" %>
<%=link_to " MY PROFILE", user_path(@current_user.id) ,class:"navbar-brand"%>

</nav>

<section class="menu">
<div class="row full-height">
<div class="col s9 full-height scroll-bar">
<div class=menu>
<div class="row">
<% @menu_items = (!@category.nil?) ? @category.menu_items : @menu_items  %>
<% @menu_items.each do |menu_item| %>
<div class="col s12 m6 l4">

    <div class="card-image">
        <span class="activator">
        <p> <p>
        </span>
        <%= link_to(menu_item) do %>
        <%= image_tag(("food.jpg"), :width => "100%", :height => "auto", :style => "max-width:100%", :class => "image-thumb") %>
          <br>
          <span class="card-title"><%= menu_item.name %></span>
          <% end %>
    </div>
      <div class="card-action">
        <%= button_to "Add to cart", cart_items_path(menu_item_id: menu_item.id), method: :post %>

    </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
<section>
<%= bootstrap_icon "check",width:5,height:5,fill:"blue" %>
