<div class="full-height scroll-bar">
  <div class="row">
    <div class="col s12 m6 l6 flow-text">
      <h3><%= @menu_item.name%></h3>
      <p><%= @menu_item.description %></p>
      <p>$<%=  @menu_item.price %></p>
    </div>

    <div class="container col s12 m6 l6">
      <%= image_tag(("coffee.jpg"), :width => "100%", :height => "auto", :style => "max-width:100%", :class => "image-thumb")%>
    </div>

  </div>

  </div>
</div>
<%= link_to "Back", menu_items_path,class:"btn btn-dark" %>
