<h4>Edit Profile</h4>


<section class="UsersNew">
<%= form_with url: update_users_path(id: @current_user.id) do |form|%>
<div class="Form-sectiousern">
<p class="FormInput-label">Name: </p>
<%= form.text_field :name, class:"Form-input" %>
</div>

<div class="Form-section">
<p class="FormInput-label">Email: </p>
<%= form.email_field :email, class:"Form-input" %>
</div>

<div class="Form-section">
<p class="FormInput-label">Password: </p>
<%= form.password_field :password, class:"Form-input" %>
</div>

<div class="Form-section">
<%= form.submit "Save Changes", :class => "btn waves-effect waves-light" %>
</div>

<% end %>
</section>
