
<div class="container">
<p class="NewUsers-title">Edit Profile!</p>

<%= @user.id%>
<section class="UsersNew">
<%= form_with url: user_path(:id=>"#{@user.id}"), method: :put do |form|%>
<div class="Form-section">
<p class="FormInput-label">Name: </p>
<%= form.text_field :name, class:"Form-input" %>
</div>

<div class="Form-section">
<p class="FormInput-label">Email: </p>
<%= form.email_field :email, class:"Form-input" %>
</div>

<div class="Form-section">
<p class="FormInput-label">Password: </p>
<%= form.password_field :password, class:"Form-input" %>
</div>

<div class="Form-section">
<%= form.submit "Save Changes!", class:"Form-submit btn btn-primary btn-lg" %>
<%= link_to "Back", menu_items_path,class:"btn btn-primary btn-lg"%>

</div>

<% end %>
</section>
</div>
