<div class="container" >
<h1>MY CART</h1>
</div>

<div>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
  <th scope="col">item</h3></th>
  <th scope="col">price</h3></th>
  <th scope="col">quantity</h3></th>
  <th scope="col">Total price</h3></th>
  <th colspan="3"></th>
</tr>
</thead>
<tbody>
<% @cart.cart_items.each do |cart_item| %>
<tr>
  <td><%= cart_item.menu_item.name%></td>

  <td><%= number_to_currency(cart_item.menu_item.price)%></td>
  <td><%= cart_item.quantity %> </td>
  <td><%= number_to_currency(cart_item.total_price)%></td>
   <td><%= button_to "+ ", cart_item_add_path(:id => cart_item), method: :post %></td>
  <td><%= button_to "-", cart_item_reduce_path(:id => cart_item), method: :post %></td>
      <td><%= button_to "Remove", cart_item_path(cart_item), method: :delete%></td>
</tr>
<% end %>
</tbody>
</table>
</div>

<h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
<%= button_to "Proceed to checkout", order_items_path ,method: :post%><br>
<%= link_to "Back", menu_items_path,class:"btn btn-dark" %>
